<div class="alert alert-primary alerta" role="alert" *ngIf="showAlrt === 'p' " [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>

<div class="alert alert-secondary alerta" role="alert" *ngIf="showAlrt === 'sec'" [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>

<div class="alert alert-success alerta" role="alert" *ngIf="showAlrt === 'suc'" [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>

<div class="alert alert-danger alerta" role="alert" *ngIf="showAlrt === 'danger'" [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>

<div class="alert alert-warning alerta" role="alert" *ngIf="showAlrt === 'w'" [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>

<div class="alert alert-info alerta" role="alert" *ngIf="showAlrt === 'inf'" [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>

<div class="alert alert-light alerta" role="alert" *ngIf="showAlrt === 'li'" [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>

<div class="alert alert-dark alerta" role="alert" *ngIf="showAlrt === 'dark'" [@slideInOut]="showAlrt ? 'in' : 'out'">
  {{message}}
</div>
<router-outlet></router-outlet>
