
<div *ngIf="!spinnerUpload">
  <h1 mat-dialog-title>Renovar Mensualidad</h1>
<div mat-dialog-content>

<!--  PANTALLA GRANDE   -->
  <div *ngIf="!isSmallScreen">
    <form [formGroup]="form" (ngSubmit)="actualizar()" style="display: block; justify-content: center; height: 100%; align-items: center;">

      <mat-form-field>
        <mat-label>Número de Cuenta</mat-label>
        <input type="text" readonly [attr.readonly]="true" matInput formControlName="ncuenta">
      </mat-form-field>

      <div class="div" style="display: inline-flex; width: 100%;">
        <mat-form-field style="width: 50%; margin-right: 3px;">
          <mat-label>Fecha de Pago</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="fechaPago" [matDatepickerFilter]="filterDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="width: 50%;">
          <mat-label>Tipo de mensualidad</mat-label>
           <mat-select formControlName="mensualidad" name="mensualidad">

            <mat-option *ngFor="let m of tipos" [value]="m">{{m}}</mat-option>

           </mat-select>
         </mat-form-field>
      </div>
    </form>
  </div>


<!--  PANTALLA PEQUEÑA  [(ngModel)]="ncuenta"  -->
    <div *ngIf="isSmallScreen">

      <form [formGroup]="form" (ngSubmit)="actualizar()" style="display: block; justify-content: center; height: 100%; align-items: center;">

        <mat-form-field style="width: 100%;">
          <mat-label>Número de Cuenta</mat-label>
          <input type="text" readonly matInput [attr.readonly]="true" formControlName="ncuenta">
        </mat-form-field>

        <mat-form-field style="width: 100%;">
          <mat-label>Fecha de Pago</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="fechaPago" [matDatepickerFilter]="filterDate">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <mat-form-field style="width: 100%; margin-top: 10px;">
          <mat-label>Tipo de mensualidad</mat-label>
           <mat-select formControlName="mensualidad" name="mensualidad">
            <mat-option *ngFor="let m of tipos" [value]="m">{{m}}</mat-option>
          </mat-select>
        </mat-form-field>

      </form>
    </div>

</div>
<div mat-dialog-actions style="padding-left: 2rem;">
  <button mat-button (click)="onNoClick(false)">Cancelar</button>
  <button type="submit" (click)="submitForm()" mat-flat-button color="primary" [disabled]="form.invalid" class="ancho boton">Aceptar</button>
</div>
</div>



<!--PANTALLA NO GRANDE-->
<div *ngIf="spinnerUpload && isSmallScreen" style="width: 250px; height: 300px; display: flex; align-items: center; justify-content: center;">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div *ngIf="messageError != '' && isSmallScreen" style="width: 250px; height: 300px; display: flex; align-items: center; justify-content: center;">
  <h3>{{messageError}}</h3>
</div>
<!--PANTALLA GRANDE-->
<div *ngIf="spinnerUpload && !isSmallScreen" style="width: 400px; height: 300px; display: flex; align-items: center; justify-content: center;">
  <mat-spinner diameter="50"></mat-spinner>
</div>
<div *ngIf="messageError != '' && !isSmallScreen" style="width: 400px; height: 300px; display: flex; align-items: center; justify-content: center;">
  <h3>{{messageError}}</h3>
</div>


