<div *ngIf="!spinnerUpload">
  <h1 mat-dialog-title>¿Estás seguro de eliminar este usuario?</h1>
<div mat-dialog-content>

</div>
<div mat-dialog-actions style="padding-left: 2rem;">
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button type="submit" (click)="deleteUser()" mat-flat-button color="primary"class="ancho boton">Aceptar</button>
</div>
</div>

<!--PANTALLA NO GRANDE-->
<div *ngIf="spinnerUpload && isSmallScreen" style="width: 250px; height: 100px; display: flex; align-items: center; justify-content: center;">
  <mat-spinner *ngIf="messageError === '' " diameter="50"></mat-spinner>
  <h3>{{messageError}}</h3>
</div>

<!--PANTALLA GRANDE-->
<div *ngIf="spinnerUpload && !isSmallScreen" style="width: 400px; height: 300px; display: flex; align-items: center; justify-content: center;">
  <mat-spinner *ngIf="messageError === '' " diameter="50"></mat-spinner>
  <h3>{{messageError}}</h3>
</div>



